/*
    ##################
    ###### RESET #####
    ##################
 */

body {
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

.load::before {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 99999 !important;
}

.loader {
    position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999999;
    display: none;
    text-align: center;
}

.loader img {
    width: 300px;
    height: 120px;
    box-shadow: 0 0 10px 10px 1px #fff;
    -webkit-animation: super-rainbow 2s infinite alternate linear;
    -moz-animation: super-rainbow 2s infinite alternate linear;
}

body.load .loader {
    display: block;
}

.load::after {
    /* position: fixed;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    background-image: url('../images/load.png');
    width: 202px;
    height: 79px;
    z-index: 9999999;
    filter: hue-rotate(90deg); */
}

@-webkit-keyframes super-rainbow {
    0% {
        filter: brightness(50%) sepia(100) saturate(100) hue-rotate(60deg);
    }
    20% {
        filter: brightness(40%) sepia(100) saturate(100) hue-rotate(120deg);
    }
    40% {
        filter: brightness(30%) sepia(100) saturate(100) hue-rotate(180deg);
    }
    60% {
        filter: brightness(20%) sepia(100) saturate(100) hue-rotate(240deg);
    }
    80% {
        filter: brightness(10%) sepia(100) saturate(100) hue-rotate(300deg);
    }
    100% {
        filter: brightness(0%) sepia(100) saturate(100) hue-rotate(360deg);
    }
}

@-moz-keyframes super-rainbow {
    0% {
        filter: brightness(50%) sepia(100) saturate(100) hue-rotate(60deg);
    }
    20% {
        filter: brightness(40%) sepia(100) saturate(100) hue-rotate(120deg);
    }
    40% {
        filter: brightness(30%) sepia(100) saturate(100) hue-rotate(180deg);
    }
    60% {
        filter: brightness(20%) sepia(100) saturate(100) hue-rotate(240deg);
    }
    80% {
        filter: brightness(10%) sepia(100) saturate(100) hue-rotate(300deg);
    }
    100% {
        filter: brightness(0%) sepia(100) saturate(100) hue-rotate(360deg);
    }
}

input.error,
input.error:focus,
textarea.error,
textarea.error:focus,
select.error,
.select2.error.select2-container--default .select2-selection--single,
select.error:focus {
    border: 2px solid #CC0000 !important;
}

input.error:focus,
textarea.error:focus,
select.error:focus {
    box-shadow: 0 0 0 0.2rem #CC0000 !important;
}

input.ok {
    border: 2px solid #37861b !important;
}

.status {
    color: #cc0000;
    align-items: center;
    height: 0px;
    transition: all 0.5s;
    /* background-color: #fff; */
}

.status.error {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    font-family: 'Lato';
    margin-left: 0;
    margin-right: 0;
}

.status.error i {
    padding: 5px;
}

.status::after {
    content: url('../images/block.svg');
    vertical-align: middle;
    align-items: center;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
}

.status.checking::after {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.status.ok {
    height: 30px;
    color: #37861b;
}

.is-invalid {
    border: 1px solid #dc3545 !important;
}

body {
    position: relative;
    display: block;
    width: 100%;
    overflow-x: hidden;
}

label {
    outline: none;
    font-size: 16px;
    font-weight: 600 !important;
    color: #666666;
}

.content-wrapper {
    background-color: #E8E8E8;
}


/*
    ##################################
    ###### BOOTSTRAP PERSONALIZE #####
    ##################################
 */

.card-danger.card-outline {
    border-top: 5px solid #dc3545;
}


/*ACCORDION*/

.accordion .card {
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #000000;
}

.accordion .card-header {
    border-radius: 0px;
    border: none;
    background-color: #EFEDED;
}

.accordion .card-header .btn {
    border-radius: 0px;
    background-color: #EFEDED;
    font-size: 18px;
    font-weight: 700;
    color: #f3414d;
}


/*FORM*/

.form-control {
    outline: none;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    background-color: #ffffff;
}

.form-check {
    display: flex;
    align-items: center;
    margin: 8px 0px;
}

.form-check .form-check-input {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-check .form-check-input:before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    visibility: visible;
    border: 2px solid #F0434E;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
}

.form-check.form-check-inline .form-check-input:before {
    top: 0.5px;
}

.form-check .form-check-input:checked:before {
    background-color: #F0434E;
    /* content: 'X'; */
}

.form-check .form-check-input:checked:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -3px;
    left: -1px;
    width: 7px;
    height: 10px;
    border: 2px solid #fff;
    border-left: none;
    border-top: none;
    transform: translate(7.75px, 4.5px) rotate(45deg);
}

.form-check.form-check-inline .form-check-input:checked:after {
    top: 0px;
}

.form-check .form-check-label {
    padding-left: 5px;
    line-height: 1.2;
}


/*
    ################################
    ###### PLUGINS PERSONALIZE #####
    ################################
 */


/*SELECT2*/

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #b2b2b2;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-radius: 13px;
    background-color: #f3424d;
    border-color: #f3424d;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #f3424d;
    font-weight: 700;
    color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #CDCDCD !important;
}


/*
    ########################
    ###### MAIN HEADER #####
    ########################
 */

.main-header {
    background-image: url("../img/guitarpedia-banner-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header h1 {
    padding: 0.5rem 1rem;
    line-height: 47px;
    font-size: 45px;
    font-weight: 400;
    color: #ffffff;
}

.main-header h1 b {
    color: #f3414d;
}

.main-header .profile {
    padding: 0.5rem 1rem;
}

.main-header .profile span,
.main-header .profile p {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.main-header .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    transition-duration: 0.5s;
}

.main-header .navbar-nav .nav-item .nav-link:hover {
    color: #f3414d;
}


/*
    #########################
    ###### MAIN SIDEBAR #####
    #########################
 */

.main-sidebar .os-content {
    padding: 0px !important;
    background-color: #666666;
}

.main-sidebar .brand-link {
    padding: 1.5rem .5rem;
    background-color: #303030;
}

.main-sidebar .nav-sidebar .nav-link {
    padding: .75rem 1rem;
    border-radius: 0px;
    border-left: 4px solid transparent;
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff !important;
    transition-duration: 0.5s;
}

.main-sidebar .nav-sidebar .nav-link:hover {
    border-color: #f3414d;
}

.main-sidebar .help {
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.25rem;
    border-radius: 0px;
    line-height: 22px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff !important;
    transition-duration: 0.5s;
    z-index: 99999;
}

.main-sidebar .help:hover {
    padding: 1.25rem 1.25rem 1.25rem 1.75rem;
}

.main-sidebar .help i {
    font-size: 1.1rem;
}


/*
    ######################
    ###### VIEW HOME #####
    ######################
 */

.view_home .list-group-item div button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
    transition-duration: 0.5s;
}

.view_home .list-group-item div button:hover {
    color: #f3414d;
}


/*
    ##########################
    ###### VIEW FINANCES #####
    ##########################
 */

.view_finances .list-group-item div:first-child button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
    transition-duration: 0.5s;
}

.view_finances .list-group-item div:first-child button:hover {
    color: #f3414d;
}


/*
    ##############################
    ###### VIEW AVAILABILITY #####
    ##############################
 */

.view_availability .table.table-bordered tbody tr {
    background-color: #ffffff;
}

.view_availability .table.table-bordered tbody tr:nth-of-type(2n+0) {
    background-color: #e9ecef;
}

.view_availability .table.table-bordered tbody tr td {
    color: #f3414d;
}

.view_availability .table.table-bordered tbody tr td a {
    transition-duration: 0.5s;
    opacity: 0.8;
    color: #f3414d;
}

.view_availability .table.table-bordered tbody tr td a:hover {
    opacity: 1.0;
}


/*
    #################################
    ###### VIEW CLASSES_PACKAGE #####
    #################################
 */

.view_classes_package .table.table-bordered tbody tr {
    background-color: #ffffff;
}

.view_classes_package .table.table-bordered tbody tr:nth-of-type(2n+0) {
    background-color: #e9ecef;
}

.view_classes_package .table.table-bordered tbody tr td {
    color: #f3414d;
}

.view_classes_package .table.table-bordered tbody tr td a {
    transition-duration: 0.5s;
    opacity: 0.8;
    color: #f3414d;
}

.view_classes_package .table.table-bordered tbody tr td a:hover {
    opacity: 1.0;
}


/*
    ################################
    ###### VIEW CLASSES_CREATE #####
    ################################
 */

.view_classes_create .table.table-bordered tbody tr {
    background-color: #ffffff;
}

.view_classes_create .table.table-bordered tbody tr:nth-of-type(2n+0) {
    background-color: #e9ecef;
}

.view_classes_create .table.table-bordered tbody tr td {
    color: #f3414d;
}

.view_classes_create .table.table-bordered tbody tr td a {
    transition-duration: 0.5s;
    opacity: 0.8;
    color: #f3414d;
}

.view_classes_create .table.table-bordered tbody tr td a:hover {
    opacity: 1.0;
}


/*
    ############################
    ###### VIEW EVALUATION #####
    ############################
 */

.view_evaluation .card-header h5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.view_evaluation .card-header h5 i {
    color: #FF9900;
}

.view_evaluation .list-group .list-group-item {
    font-size: 13px;
    font-weight: 500;
}

.view_evaluation .list-group:first-child .list-group-item {
    background-color: #F4F4F4;
}

.view_evaluation .modal-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.view_evaluation .modal-footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding-inline-start: 10px;
}

.view_evaluation .list-group-item button {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    transition-duration: 0.5s;
}

.view_evaluation .list-group-item button:hover {
    color: #DF4051;
}

.view_evaluation .modal-footer ul li {
    margin: 0 4px;
}

.view_evaluation .modal-footer ul li i {
    transition-duration: 0.5s;
    color: #dc3545;
    cursor: pointer;
}

.view_evaluation .modal-footer ul li i:hover,
.view_evaluation .modal-footer ul li i.active {
    color: #FECC0D;
}


/*
    ##########################
    ###### MEDIA QUERIES #####
    ##########################
 */


/*1200px*/

@media (max-width: 75em) {}


/*1024px*/

@media (max-width: 64em) {}


/*768px*/

@media (max-width: 48em) {
    .fr-video iframe {
        max-width: 100%;
    }
    .view_evaluation .list-group {
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #dee2e6 !important;
    }
    .view_evaluation .list-group .list-group-item {
        padding: 0;
        border: none !important;
    }
}


/*512px*/

@media (max-width: 32em) {}

.file-avatar img {
    display: block;
    width: 128px;
    height: 128px;
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    padding: 0px;
    border-radius: 50%;
    overflow: hidden;
}

.file-avatar .file-preview .file-drop-zone {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 128px;
    height: 128px;
    max-height: 100%;
    max-width: 100%;
    min-height: initial;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

.file-avatar .file-preview .file-preview-thumbnails {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    max-height: 100%;
    max-width: 100%;
}

.file-avatar .file-preview .krajee-default.file-preview-frame,
.file-avatar .file-preview .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
    width: 128px;
    height: 128px;
    max-height: 100%;
    max-width: 100%;
}

.file-avatar .file-preview .file-default-preview,
.file-avatar .file-preview .kv-file-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    max-height: 100%;
    max-width: 100%;
}

.file-avatar .file-caption-main {
    width: 512px;
    max-width: 100%;
}

.file-avatar .input-group-btn .btn-file {
    border: none;
    background-color: #656565 !important;
}

.nav-sidebar>.nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, .1);
    border-color: #f3414d;
}

.fr-popup.fr-active {
    z-index: 999999 !important;
}

.btn-salvar {
    position: sticky;
    bottom: 10px;
    z-index: 99;
}

.btn-salvar button,
.btn-salvar a {
    box-shadow: 5px 8px 7px 0px #6c6868;
}

.modal-footer>* {
    margin: 0 !important;
}

.codigo-cupom,
.codigo-cupom:focus,
.codigo-cupom:focus-visible,
.codigo-cupom:active {
    appearance: none;
    border: none;
    background-color: transparent;
    width: 80%;
    color: #f3414d;
    outline: none;
}

.swal2-icon.swal2-question.swal2-icon-show {
    font-size: 1.2em;
}

.btn-popover {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
    transition-duration: 0.5s;
}

.instrucoes-professor iframe {
    max-width: 100%;
}